/* google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding:0;
    border: none;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
/* header style */
.header{
    background:linear-gradient(0deg, #121212 0%, rgba(18, 18, 18, 0.00) 100%), url(./images/donation2.jpg);
    background-repeat: no-repeat;
    background-attachment: cover;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.header-text{
    text-align: center;
    color: #ffffff;
}
.header-text h2{
    padding-top: 175px;
    font-size: 65px;
    font-weight: 700;
}
.header-text p{
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
}
.header-text button{
    font-size: 20px;
    font-weight: 600;
    padding: 16px  12px;
    border-radius: 5px;
    background: #FF5959;
    margin-top: 30px;
    color: #ffffff;
}
/* header style */
/* donation style */
.donation{
    text-align: center;
    margin-top: 130px;
}
.donation .donation-description h2{
    color: #121212;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}
.donation .donation-description p{
    color: #707070;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 50px;
}
.donate-tk{
    justify-content: center;
    display: flex;
    gap: 45px;
    margin-top: 93px;
    color: #707070;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.second-tka{
    color: #FF5959;
    border-radius: 5px;
    border: 2px solid #FF5959;
    background: #FEE;
    padding: 40px 13px;
    margin-top: -40px;
}
.donation-amount p{
    color: #B3B3B3;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    border-bottom: 1px solid #B3B3B3;
    padding-bottom: 10px;
    margin: 60px 150px 0px 150px;
}
.donation-amount button{
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    border-radius: 5px;
    background: #FF5959;
    margin-top: 30px;
    padding: 16px 12px;  
}
/* donation style */
/* donation plan style */
.donation-plan{
    margin-top: 130px;
}
/* donation plan headings style */
.donation-plan-texts h2{
    color: #121212;
    text-align: center;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.donation-plan-texts p{
    color: #707070;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin: 20px 0px 50px 0px;
}

/* donation plan card style */
.donationPlan-Cards{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin: 0px 130px;
}
.donationPlan-Cards img{
    padding-bottom: 32px;
}
.donationPlan-Cards h2{
    color: #121212;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.donationPlan-Cards p{
    color: #707070;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.card1{
    border-radius: 5px;
    background: rgba(79, 157, 166, 0.10);
    padding: 60px 20px 55px 25px;
}
.card2{
    border-radius: 5px;
    background: rgba(255, 89, 89, 0.10);
    padding: 60px 20px 55px 25px;
}
.card3{
    border-radius: 5px;
    background: #FFF4D6;
    padding: 60px 20px 55px 25px;
}
/* donation plan style */